name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Set a branch to deploy

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm install

      - name: Build website
        run: npm run build

      # Popular ways to deploy to GitHub Pages
      # See https://docusaurus.io/docs/deployment#deploying-to-github-pages
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # Build output will be stored in the root of the `gh-pages` branch
          publish_dir: ./build
          # You can use a custom deployment branch. If not set, the default is `gh-pages`
          # publish_branch: gh-pages